body {
	background-image: url(images/waves.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.buttons {
	margin-top: 15px;
}

#grapes {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	font-family: garamond;
	letter-spacing: 2px;
}

#part1 {
	font-size: 2em;
	font-family: garamond;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 100px;
}

legend {
	border: 2px groove threedface;
	font-weight: bold;
}

#container {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	font-family: garamond;
	padding-bottom: 100px;
}

#text {
	color: red;
}

#part2 {
	text-align: center;
	font-size: 2em;
	font-family: garamond;
	letter-spacing: 1px;
	margin-bottom: 100px;
}

input,
select {
	background-color: orangered;
	font-family: garamond;
	font-size: 25px;
	color: white;
	border: 2px solid #ADD8E6;
}

input::placeholder {
	color: #ADD8E6;
}

input:hover,
select:hover {
	transform: scale(1.25);
	transition: 2s ease;
}

#sep {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	font-family: garamond;
}